
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Credentials
src/config/credentials.ts
.env

# macOS
.DS_Store

# Logs
*.log

# Test storage states 
/tests/ui/storages/*.json
